.movie {
  display: grid;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.movie__image {
  box-sizing: border-box;
  width: 300px;
  height: 168px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 10px;
}

.movie__name {
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.movie:hover .movie__button-save {
    visibility: visible
}

.movie__duration {
  max-width: 44px;
  max-height: 12px;
  padding: 3px 4px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 3px;
  background-color: #2F2F2F;
  color: #8B8B8B;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 10px
}

.movie__button-save {
  visibility: hidden;
  border-radius: 30px;
  background: #313131;
  border: 0;
  position: absolute;
  color: #FFF;
  top: 10px;
  right: 10px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 9px;
  width: 72px;
  height: 21px;
  padding: 0;
}

.movie__button-saved {
  background-image: url('../../images/Ok.svg');
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  border: none;
  background-color: initial;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
}

.movie__button-delete {
  background-image: url('../../images/delete.svg');
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  border: none;
  background-color: initial;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
}

.movie__container {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}

@media screen and (min-width: 768px) {
  .movie__image {
    width: 339px;
    height: 190px;
  }

  .movie__container {
    max-width: 339px;
    margin-top: 25px;
  }

  .movie__name {
    font-size: 13px;
  }
}

@media screen and (min-width: 1280px) {
  .movie__image {
    width: 360px;
    height: 201px;
  }

  .movie__container {
    max-width: 332px;
    margin: 14px auto 0;
  }
}